<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0  minimal-ui">
<meta http-equiv="cache-control" content="no-cache" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="description" content="查老师，浙江大学非官方匿名教评系统。在这里，一切都是匿名的，您可以畅所欲言。期末选课必备神器！" />
<meta name="keywords" content="浙大选课,匿名,评教,教评,查老师,浙江大学,浙大">
<meta name="360-site-verification" content="53103de805abd39d3d2305436b81bf12" />
<meta name="sogou_site_verification" content="WzHpnONzSg"/>
<meta name="msvalidate.01" content="4293ED737A0EE854F74A38747E3E197F" />
<link href="/static/img/favicon.ico" rel="icon" type="image/x-icon" />
<link href="/static/img/chalaoshi.png" rel="apple-touch-icon" />