<header class="header">
     <div class="header-wrap">
         <!--a href="/" class="active">首页</a-->
     </div>
</header>

<header class="searchBar">
    <div class="search-wrap" >
        <form action="" onsubmit="return false;">
        <input type="text" name="search-content" autocomplete="off" id="search-content" placeholder="查老师..."/>
        </form>
        <i class="iconfont">&#xe600;</i>
    </div>
</header>

<div id="result-list" class="result-list hidden">
</div>
<div id="loading" class="spinner hidden">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>