<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="application/javascript">
wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: "{{ request.wx.appId }}", // 必填，公众号的唯一标识
        timestamp: "{{ request.wx.timestamp }}", // 必填，生成签名的时间戳
        nonceStr: "{{ request.wx.nonceStr }}", // 必填，生成签名的随机串
        signature: "{{ request.wx.signature }}",// 必填，签名，见附录1
        jsApiList: ['closeWindow','hideOptionMenu','showMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
 });
wx.ready(function() {
        wx.showMenuItems({
            menuList: ['menuItem:refresh',
                'menuItem:profile',
                'menuItem:addContact',
                'menuItem:share:appMessage',
                "menuItem:share:timeline",
                    "menuItem:share:qq",
                    "menuItem:share:weiboApp",
                    "menuItem:favorite"
            ]
        });
});
 </script>